html , body {
	width  : 100% ; 


}




.App {
  text-align: center;
	width : 100%; 
}



.list {
	/*display : flex;*/
	/*vertical-align: middle;*/
	/*align-items : center;*/
	/*width : 100% ; */
}


.list-item {
	min-width : 100%  ;
	margin-top : 10px; 
}



.hidden {
	display : none !important ; 
}
